.font-fam-hurricane {
	font-family: Hurricane;
}

body {
	font-family: Inter;
}

:root {
	--bleu-vert: #36c4b3;
	--bleu-vert-pale: rgba(54, 196, 179, 0.25);
}

.bg-bleu-vert {
	background-color: var(--bleu-vert) !important;
}

.bg-bleu-vert-pale {
	background-color: var(--bleu-vert-pale);
}

.accordion-button::after {
	background-image: none !important;
}

.mt-10 {
	margin-top: 10rem;
}

a:hover, .cartes > *:hover {
    transition: transform 0.5s;
	transform: scale(1.1);
}

